.card {
    background-color: #184D3A;
    height: 180px; 
    border: none;
    border-radius: 20px;
}

.card:hover {
    background: linear-gradient(0deg, #184D3A 0%, #3CAF95 100%); /* Set the linear gradient on hover */
}

.card a {
    text-decoration: none;
    color: white;
}

.card p {
    margin-bottom: 0;
}

#courseSearch {
    padding: 10px;
    border: 1px solid #bac4bd;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fbfbfb;
    transition: border-color 0.3s, box-shadow 0.3s;
}

#courseSearch:focus {
    border-color: #3CAF95 !important;
    box-shadow: 0 0 5px #3CAF95;
}

.stat-label p {
    padding-right: 20px;
    color: white;
}

.stars {
    color: rgb(231, 198, 105);
}

.course-title button {
    background: none;
    border: none;
    outline: none;
    font-size: 25px;
}

.course-info {
    background: linear-gradient(162deg, rgba(18,40,66,1) 0%, rgba(22,73,54,1) 42%, rgba(27,224,196,1) 100%);
    color: white !important;
    border: 1px solid #ccc;
    border-radius: 10px; 
    
}

.toggleSavedCourses {
    color: white;
}

.progress-width {
    width: 300px;
}

.progress-wrapper p {
    margin: 0 !important;
    font-size: 16px !important;
}

.rating-number {
    text-align: center;
    width: 30px;
}

.reviews {
    width: 900px;
    margin: auto;
}
