/* Add CSS to move the footer to the bottom of the page */
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    padding-bottom: 100px;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #1d2624;
}