.website-info {
    position: relative;
    background: linear-gradient(162deg, rgba(18,40,66,1) 0%, rgba(22,73,54,1) 42%, rgba(27,224,196,1) 100%);
    color: #fff;
    padding: 40px 70px;
    border: 1px solid #ccc;
    border-radius: 10px; 
    text-align: left; 
    margin: 20px 0; 
}

.website-info .brief {
    font-size: 18px;
    margin-bottom: 20px; 
}

.website-info button {
    background-color: transparent;
    border-color: #fff;
    border-width: 1px;
    position: absolute;
    bottom: 41px;
    right: 53px;
    padding: 16px 38px;
}

.website-info button:hover {
    background-color: transparent;
    border-color: #ffffff;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
}


.course-container {
    position: relative;
    width: 900px;
    margin: 50px auto;
}

.course-container .sub-heading {
    font-size: 16px !important;
}

.course-heading h1 {
    font-size: 24px;
    margin: 0;
}

.course-icon {
    width: 52px; 
    height: 52px; 
    background: linear-gradient(119deg, #184D3A 0%, #3CAF95 100%); 
    border-radius: 16px;
    margin-right: 15px;
}

.toggle-description {
    background: none;
    border: none;
    color: #227823;
    padding: 0;
    font-size: 16px !important;
    cursor: pointer;
}

.course-footer .star-filled,
.course-footer .star-empty {
    font-size: 20px !important;
    color: #184D3A;
}

.course-footer a {
    text-decoration: none;
    transition: 0.2s ease-in !important;
}

.course-footer a:hover {
    color: #3CAF95;
}

.recom-title a:hover {
    color: #3CAF95;
}

.recom-title a {
    color: inherit;
    text-decoration: none;
    transition: 0.2s ease-in !important;
}