@font-face {
    font-family: 'Anton';
    src: url('/fonts/Anton/Anton-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Arsenal';
    src: url('/fonts/Arsenal/Arsenal-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Arsenal';
    src: url('/fonts/Arsenal/Arsenal-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Dosis';
    src: url('/fonts/Dosis/Dosis-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Teko';
    src: url('/fonts/Teko/Teko-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Unbounded';
    src: url('/fonts/Unbounded/Unbounded-ExtraLight.ttf') format('truetype');
    font-weight: lighter;
}

@font-face {
    font-family: 'Unbounded';
    src: url('/fonts/Unbounded/Unbounded-SemiBold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'MPLUSRounded1c';
    src: url('/fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Regular.ttf') format('truetype');
    font-weight: normal;
}


body {
    background-color: #a5a9a8;
    font-family: 'Arsenal', sans-serif !important;
    font-size: 18px !important;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

/* Stack form elements vertically */
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align form elements to the left */
}

label {
    margin-bottom: 5px; /* Add some spacing between labels and inputs */
}

input, textarea {
    margin-bottom: 10px; /* Add spacing between input elements */
}

.post-button {
    background-color: #227823;
    color: #fff;
    outline: none;
}

.course-container {
    position: relative;
    width: 900px;
    margin: 50px auto;
}

.course-container .sub-heading {
    font-size: 16px !important;
}

.course-heading h1 {
    font-size: 24px;
    margin: 0;
}

.course-icon {
    width: 52px; 
    height: 52px; 
    background: linear-gradient(119deg, #184D3A 0%, #3CAF95 100%); 
    border-radius: 16px;
    margin-right: 15px;
}

.toggle-description {
    background: none;
    border: none;
    color: #227823;
    padding: 0;
    font-size: 16px !important;
    cursor: pointer;
}

