.profile-wrapper {
    width: 900px;
}

.pfp {
    width: 53px; 
    height: 53px; 
    background: linear-gradient(119deg, #214b63 0%, #7ec1ca 100%); 
    border-radius: 20px;
    margin-right: 15px;
    color: white;
}

.user-info {
    margin-left: 10px;
}

.user-info h1 {
    font-size: 24px !important;
    margin-bottom: 0 !important
}

.stats {
    width: 800px;
}

.stat-box {
    width: 200px;
    height: 200px;
    background: #c5d6d1;
    border-radius: 20px;
}

.stat-box h1 {
    font-size: 60px !important;
}

.stat-box p {
    text-align: center;
}