.profile-wrapper {
    width: 900px;
}

.pfp {
    width: 53px; 
    height: 53px; 
    background: linear-gradient(119deg, #214b63 0%, #7ec1ca 100%); 
    border-radius: 20px;
    margin-right: 15px;
    color: white;
}

.user-info {
    margin-left: 10px;
}

.user-info h1 {
    font-size: 24px !important;
    margin-bottom: 0 !important
}

.stats {
    width: 800px;
}

.stat-box {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.stat-box h1 {
    font-size: 60px !important;
}

.stat-box p {
    text-align: center;
}

.course-icon-full {
    width: 120px; 
    height: 70px; 
    background: #184D3A;/*linear-gradient(119deg, #184D3A 0%, #3CAF95 100%); */
    border-radius: 16px;
    margin-right: 15px;
    transition: 2s ease;
    font-weight: 300;
    cursor: pointer;
    text-decoration: none !important;
    color: white;
}

.course-icon-full:hover {
    text-decoration: none !important;
    background: linear-gradient(119deg, #184D3A 0%, #3CAF95 100%);
}
