.star-rating {
    font-size: 24px;
  }
  
.star-filled {
  color: #0D4C38;
}

.star-empty {
  color: gray;
}

.delete-review-btn {
  margin-left: 5px;
}
  
.form-group {
  margin-bottom: 10px;
}

.header-label {
  margin-top: 20px;
}

.edited-label {
  background-color: #0D4C38; 
  color: #fff; 
  border-radius: 50%; /* Creates a circular shape around the label */
  padding: 4px 8px; 
  font-size: 14px;
  margin-right: 5px; 
}
