<div class="container main-content">
    <h1>Contact Us</h1>
    <p>If you have any questions or feedback, feel free to contact us:</p>
    <ul>
        <li>Email: <a href="mailto:contact@revuw.com">contact@revuw.com</a></li>
    </ul>
</div>

