<div class="container main-content">
    <h1>Contact Us</h1>
    <p>If you have any questions or feedback, feel free to contact us:</p>
    <ul>
        <li>Email: <a href="mailto:contact@revuw.com">contact@revuw.com</a></li>
    </ul>

    <form action="/submit-contact" method="post">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" required>
    
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" required>
    
        <label for="subject">Subject:</label>
        <input type="text" class="form-control" id="subject" name="subject" required>
    
        <label for="message">Message:</label>
        <textarea id="message" class="form-control" name="message" rows="4" required></textarea>
    
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
</div>

