<link rel="stylesheet" href="/styles/course.css">

<div class="container main-content">
    <div class="course-title d-flex justify-content-between align-items-center my-4">
        <h1>Courses</h1>
        <input type="text" id="courseSearch" placeholder="Search for a course...">
    </div>
    <hr>
    <div class="row" id="courseList">
        <% courses.forEach(course => { %>
            <div class="course-cards col-4 mb-3">
                <div class="card my-1">
                    <a href="/courses/<%= course.courseCode %>" class="p-4">
                        <h3 class="course-title"><%= course.title %></h3>
                        <p><strong>Course Code: </strong><span class="course-code"><%= course.courseCode %></span></p>
                        <p><strong>Lecturers: </strong>
                            <% const maxCharacters = 27; %>
                            <% const lecturers = course.lecturers.length > maxCharacters ? course.lecturers.slice(0, maxCharacters) + '...' : course.lecturers; %>
                            <%= lecturers %>
                        </p>
                    </a>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<!-- Use the search functionality -->
<script src="/js/search.js"></script>
<script>
    // Pass the courseList as an argument to the initSearch function in search.js
    document.addEventListener('DOMContentLoaded', function () {
        const courseList = document.getElementById('courseList');
        initSearch(courseList);
    });
</script>

