<link rel="stylesheet" href="/styles/homepage.css">
<div class="container">
    <div class="box">

        <div class="website-info">
            <div class="brief">
                <p>We're dedicated to empowering students by providing a platform where you can share your valuable insights and experiences. 
                    Our community of VUW students collaborates to help you navigate your academic journey effectively.</p>
                <p class="m-0">Discover, Share, and Elevate Your VUW Course Experience.</p>
            </div>
            <button id="write-review" class="btn btn-primary btn-block mt-2" onclick="window.location.href='/courses/allcourses';">Write a review!</button>
        </div>
    </div>
    <div class="recom-section my-10">
        <div class="recom-title d-flex justify-content-between align-items-end">
            <h1>Recommended Courses</h1>
            <a href="/courses/allcourses" class="btn">Browse all courses</a>
        </div>
        <hr>
        <%- include('./recommendation.ejs') %>
    </div>
    
</div>

<script>
    const button = document.getElementById('write-review');
    function updatePosition() {
        if (window.innerWidth < 1000) {
            button.style.position = 'static'; 
        } else {
            button.style.position = 'absolute';
        }
    }

    window.addEventListener('resize', updatePosition);
    updatePosition();
</script>
