<div class="container">
    <div class="box">
        <p>Hello world. Here are some information about the website.</p>
        <button>Write a review!</button>
    </div>
    <a href="/courses/allcourses" class="btn">Courses</a>
</div>

