
<h1>Hello world - <%= title %></h1>
<a href="/auth/login" class="btn">Login</a>
<a href="/auth/signup" class="btn">Signup</a>
<a href="/courses/allcourses" class="btn">Courses</a>
<a href="/courses/CLA101" class="btn">CLA101</a>
