<div class="container">
    <div class="box">
        <p>Hello world. Here are some information about the website.</p>
        <button>Write a review!</button>
    </div>
    <a href="/courses/allcourses" class="btn">Courses</a>
    <a href="/courses/CLA101" class="btn">CLA101</a>
    <a href="/courses/ENGR301" class="btn">ENGR301</a>
    <a href="/courses/ENGR302" class="btn">ENGR302</a>
</div>

