<link rel="stylesheet" href="/styles/homepage.css">
<div class="container">
    <div class="box">

        <div class="website-info">
            <div class="brief">
                <p>We're dedicated to empowering students by providing a platform where you can share your valuable insights and experiences. 
                    Our community of VUW students collaborates to help you navigate your academic journey effectively.</p>
                <p class="m-0">Discover, Share, and Elevate Your VUW Course Experience.</p>
            </div>
            <button class="btn btn-primary btn-block mt-2">Write a review!</button>
        </div>
    </div>
    <a href="/courses/allcourses" class="btn">Courses</a>

    <div class="recom-section">
        <h1>Recommended Courses</h1>
        <hr>
        <a href="/courses/recommendation" class="btn">reco</a>
    </div>
    
</div>

