<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title><%= title %></title>
</head>
<body>
   <h1>Hello world - <%= title %></h1>
   <a href="/auth/login" class="btn">Login</a>
   <a href="/auth/signup" class="btn">Signup</a>
</body>
</html>