<link rel="stylesheet" href="/styles/signin.css" />

<div class="container">
    <body>
        <h2>Reset Password</h2>
        <form action="/auth/reset-password" method="post">

            <!-- Password input -->
            <div class="form-floating">
                <input name="newPassword" type="password" id="newPassword" class="form-control mb-2" placeholder="" required/>
                <label class="form-label" for="newPassword">New password</label>
                <i class="bi bi-eye-slash toggle-password" data-target="newPassword"></i>
            </div>

            <!-- Repeat Password input -->
            <div class="form-floating">
                <input name="repeatNewPassword" type="password" id="repeatNewPassword" class="form-control mb-2" placeholder="" />
                <label class="form-label" for="repeatNewPassword">Repeat new password</label>
                <i class="bi bi-eye-slash toggle-password" data-target="repeatNewPassword"></i>
            </div>

            <% if (passwordError) { %>
                <div style="color: red; margin-bottom: 10px;">
                    <%= passwordError %>
                </div>
            <% } %>

             <!-- Submit button -->
             <button type="submit" class="signin-btn btn btn-primary btn-block mt-2">Submit</button>

        </form>
    </body>
</div>
<script src="/js/togglePasswordButtons.js"></script>

