<link rel="stylesheet" href="/styles/signin.css" />

<div class="container">
    <body>
        <h2>Reset Password</h2>
        <form action="/auth/reset-password" method="post">
            <label for="password">New Password:</label>
            <input type="password" name="newPassword" required>
            <button type="submit">Submit</button>
        </form>
    </body>
    
</div>

