<!DOCTYPE html>
<html lang="en">
    <div class="container main-content">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Privacy Policy</title>
        </head>
        <body>
            <h1>Privacy Policy</h1>
        
            <p>This Privacy Policy outlines how we collect, use, and protect your personal information when you use our website.</p>
        
            <h2>Information We Collect</h2>
            <p>We may collect the following types of information:</p>
            <ul>
                <li>Your name</li>
                <li>Your email address</li>
                <li>Your course reviews</li>
        
            </ul>
        
            <h2>How We Use Your Information</h2>
            <p>We use the collected information for the following purposes:</p>
            <ul>
                <li>To facilitate the submission and display of course reviews</li>
                <li>To provide updates and notifications related to course reviews</li>
                <li>To respond to your inquiries and feedback</li>
                
            </ul>
        
            <h2>Information Security</h2>
            <p>We take reasonable measures to protect your personal information. This includes implementing security features and protocols to safeguard your data from unauthorized access, disclosure, alteration, or destruction.</p>
        
            <h2>Third-Party Links</h2>
            <p>Our website may contain links to third-party websites. We are not responsible for the privacy practices of those websites. We encourage you to review the privacy policies of any third-party websites you visit through our platform.</p>
        
            <h2>Changes to This Privacy Policy</h2>
            <p>We may update our Privacy Policy from time to time. Any changes will be posted on this page, and the revised policy will be effective immediately upon posting. We recommend regularly reviewing this Privacy Policy to stay informed about how we are protecting your personal information.</p>
        </body>
    </div>
</html>
