<link rel="stylesheet" href="/styles/profile.css">

<div class="profile-wrapper mx-auto">
    <div class="my-5 d-flex">
        <span class="pfp d-flex align-items-center justify-content-center">
            <% if (!userInfo.username) { %>
                U
            <% } else { %>
                <%= userInfo.username.charAt(0) %>
            <% } %>
        </span>
        <span class="user-info">
            <h1>
                <% if (!userInfo.username) { %>
                    Unamed User
                <% } else { %>
                    <%= userInfo.username.charAt(0) %>
                <% } %>
            </h1>
            <p class="sub-heading"><%= userInfo.email %></p>
        </span>
    </div>
    <div class="stats d-flex justify-content-between mx-auto mb-5">
        <div class="stat-box d-flex align-items-center justify-content-center flex-column">
            <h1>0</h1>
            <p>Total Courses<br>Saved</p>
        </div>
        <div class="stat-box d-flex align-items-center justify-content-center flex-column">
            <h1>0</h1>
            <p>Total Reviews<br>Submitted</p>
        </div>
        <div class="stat-box d-flex align-items-center  justify-content-center flex-column">
            <h1>0</h1>
            <p>Average Review<br>Rating</p>
        </div>
    </div>
    <hr>
    <div class="course-collection">
        <h2>Course Collection:</h2>
        <!--print courses-->
        <%= savedCourses %>
    </div>
    <div class="review-collection">
        <h2>Review Collection:</h2>
    </div>
</div>
