<link rel="stylesheet" href="/styles/signin.css" />

<div class="container-fluid">
    <div class="box-container my-auto mx-auto">
        <a href="/auth/login" class="btn">Login</a>
        <a href="/auth/signup" class="btn">Signup</a>

    </div>
   
</div>
