<div class="container">
    <form action="/auth/signup" method="post">
        <input type="email" name="email" placeholder="Email" value="<%= userEmail %>" required>
        <input type="password" name="password" placeholder="Password" required>
        <% if (errorMessage) { %>
            <div style="color: red; margin-bottom: 10px;">
                <%= errorMessage %>
            </div>
        <% } %>
        <button type="submit">Sign Up</button>
    </form>
</div>
