<link rel="stylesheet" href="/styles/signin.css" />

<div class="container-fluid d-flex">
    <div class="box-container my-auto mx-auto">
        <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
            <li class="nav-item" role="presentation">
                <button 
                    class="nav-link active" 
                    id="tab-login" 
                    data-bs-toggle="pill" 
                    data-bs-target="#pills-login" 
                    role="tab"
                    aria-controls="pills-login" 
                    aria-selected="true"
                    >Login</button>
            </li>

            <li class="nav-item" role="presentation">
                <button 
                    class="nav-link" 
                    id="tab-register"
                    data-bs-toggle="pill" 
                    data-bs-target="#pills-register" 
                    role="tab"
                    aria-controls="pills-register" 
                    aria-selected="false"
                    >Register</button>
            </li>
        </ul>
        
        <!-- Pills content -->
        <div class="tab-content d-flex justify-content-center p-0" id="ex1-content">
            <!--Login-->
            <div 
                class="tab-pane fade show active"  
                id="pills-login" 
                role="tabpanel" 
                aria-labelledby="tab-login"
            >
                <form action="/auth/signin" method="post">
                    <% if (errorMessage) { %>
                        <div style="color: red; margin-bottom: 10px;">
                            <%= errorMessage %>
                        </div>
                    <% } %>
                    <!-- Email input -->
                    <div class="form-floating">
                        <input type="email" id="loginName" class="form-control mb-2" placeholder="" required/>
                        <label class="form-label" for="loginName">Email or username</label>
                    </div>
            
                    <!-- Password input -->
                    <div class="form-floating">
                        <input type="password" id="loginPassword" class="form-control mb-2" placeholder="" required/>
                        <label class="form-label" for="loginPassword">Password</label>
                        <i class="bi bi-eye-slash toggle-password" data-target="loginPassword"></i>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="signin-btn btn btn-primary btn-block mt-2">Sign in</button>

                    <hr class="my-4 w-100">
                    <button class="signin-btn google-btn btn btn-lg btn-block btn-primary mb-2" type="submit"
                        onclick="window.location.href='/auth/google';">
                        <i class="bi bi-google"></i>&nbsp;&nbsp;&nbsp;Sign in with Google
                    </button>
                    <button class="signin-btn facebook-btn btn btn-lg btn-block btn-primary mb-2" type="submit">
                        <i class="bi bi-facebook"></i>&nbsp;&nbsp;&nbsp;Sign in with Facebook
                    </button>
                </form>
            </div>
            <!--Register-->
            <div 
                class="tab-pane fade" 
                id="pills-register" 
                role="tabpanel" 
                aria-labelledby="tab-register"
            >
                <form action="/auth/signup" method="post">
                    <!-- Name input -->
                    <div class="form-floating">
                        <input type="text" id="registerName" class="form-control mb-2" placeholder="" />
                        <label class="form-label" for="registerName">Name</label>
                    </div>
            
                    <!-- Username input -->
                    <div class="form-floating">
                        <input type="text" id="registerUsername" class="form-control mb-2" placeholder="" />
                        <label class="form-label" for="registerUsername">Username</label>
                    </div>
            
                    <!-- Email input -->
                    <div class="form-floating">
                        <input type="email" id="registerEmail" class="form-control mb-2" placeholder="" required/>
                        <label class="form-label" for="registerEmail">Email</label>
                    </div>
            
                    <!-- Password input -->
                    <div class="form-floating">
                        <input type="password" id="registerPassword" class="form-control mb-2" placeholder="" required/>
                        <label class="form-label" for="registerPassword">Password</label>
                        <i class="bi bi-eye-slash toggle-password" data-target="registerPassword"></i>
                    </div>
            
                    <!-- Repeat Password input -->
                    <div class="form-floating">
                        <input type="password" id="registerRepeatPassword" class="form-control mb-2" placeholder="" />
                        <label class="form-label" for="registerRepeatPassword">Repeat password</label>
                        <i class="bi bi-eye-slash toggle-password" data-target="registerRepeatPassword"></i>
                    </div>
            
                    <!-- Submit button -->
                    <button type="submit" class="signin-btn btn btn-primary btn-block mt-2">Sign up</button>

                    <hr class="my-4 w-100">
                    <button class="signin-btn google-btn btn btn-lg btn-block btn-primary mb-2" type="submit">
                        <i class="bi bi-google"></i>&nbsp;&nbsp;&nbsp;Sign up with Google
                    </button>
                    <button class="signin-btn facebook-btn btn btn-lg btn-block btn-primary mb-2" type="submit">
                        <i class="bi bi-facebook"></i>&nbsp;&nbsp;&nbsp;Sign up with Facebook
                    </button>
                </form>
            </div>
        </div>

        <script>
            const togglePasswordButtons = document.querySelectorAll('.toggle-password');
    
            togglePasswordButtons.forEach(button => {
            button.addEventListener('click', () => {
                const targetId = button.getAttribute('data-target');
                const passwordInput = document.querySelector(`#${targetId}`);
                
                if (passwordInput) {
                    // Toggle the type attribute of the password input
                    const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                    passwordInput.setAttribute('type', type);
                    
                    // Toggle the eye and bi-eye-slash icons
                    button.classList.toggle('bi-eye');
                }
            });
        });
        </script>
    </div>
</div>