<link rel="stylesheet" href="/styles/footer.css" />

<footer class="footer text-white text-center py-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="/about" class="text-white">About Us</a>
            </div>
            <div class="col">
                <a href="/contact" class="text-white">Contact</a>
            </div>
            <div class="col">
                <a href="/privacy" class="text-white">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>