<link rel="stylesheet" href="/styles/navbar.css" />

<nav class="navbar border-bottom border-body" data-bs-theme="dark">
    <div class="container">
        <div class="row align-item-center p-2">
            <div class="col-2 text-left my-auto">
                <button id="menu"> <i class="bi bi-list"></i></button>
            </div>
            <div id="title" class="col-8 text-center my-auto"><a href="/">ReVUW</a></div>
            <div class="col-2 text-end my-auto text-white">
                <% if (user) { %>
                    <form class="logout-form" action="/auth/logout" method="post">
                        <button type="submit" id="logout" class="status-button p-2">
                            Log Out &nbsp;
                            <i class="bi bi-box-arrow-right"></i>
                        </button> 
                    </form>
                <% } else { %>
                    <button id="signin" class="status-button p-2">
                        <a href="/auth/signin">Sign In &nbsp;</a>
                        <i class="bi bi-box-arrow-in-left"></i>
                    </button>
                <% } %>
            </div>
        </div>
    </div>
</nav>